body{ padding-top:70px;
}

.para b{
	 text-decoration: underline;
	 font-size: 32px;
}
.para p{
	font-size: 20px;	
}
	


.thumbnail a img{
	height:200px; width:200;
	border:5px solid #ddd;
}

.navbar{ background:#2c3e50;
}




.algn{ text-align:center;
}